.transactionHistory {
  background-color: #fff;
  margin-left: 30px;
  padding: 10px;
  width: 400px;
  box-shadow: 3px 3px 8px 3px #d8d5d5;
}

.tableHead {
  background-color: rgb(43, 224, 224);
}

.tableHeadRow {
  padding: 20px 0;
  text-transform: uppercase;
  color: #fff;
}

.tableRow {
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
  color: grey;
}

.tableRowFull:nth-child(2n) {
  background-color: rgb(207, 207, 207);
}
